.Services{
    padding: 3%;
}
.Services h1{
    text-align: center;
    font-size: 2.5vw;
}
.Cards{
    display: flex;
    justify-content: center;
}
.dotsSer{
    margin-top: 5%;
    margin-left: 72%;
    position: absolute;
    z-index: -1;
}
@media only screen and (max-width: 768px) {
    .Cards{
        flex-direction: column;
        align-items: center;
    }
    .Services h1{
        text-align: center;
        font-size: 5.5vw;
        line-height: 2;
    }
}